{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
{% set compact = ["'#{singularName}'"] %}

    /**
    * Add method
    *
    * @return \Cake\Http\Response|null Redirects on successful add, renders view otherwise.
    */
    public function add()
    {
        ${{ singularName }} = $this->{{ currentModelName }}->newEntity();
        if ($this->request->is('post')) {
            ${{ singularName }} = $this->{{ currentModelName }}->patchEntity(${{ singularName }}, $this->request->getData());
            if ($this->{{ currentModelName }}->save(${{ singularName }})) {
                $this->Flash->success(__('success_add', [__('{{ singularHumanName }}')]), [
                    'key' => '{{ pluralName }}'
                ]);

                return $this->redirect(['action' => 'index']);
            }
            $this->Flash->error(__('error_add', [__('{{ singularName }}'),
                json_encode(${{ singularName }}->getErrors())]), [
                'key' => '{{ singularHumanName }}'
            ]);
        }
        {% set associations = Bake.aliasExtractor(modelObj, 'BelongsTo') %}
        {% set associations = associations|merge(Bake.aliasExtractor(modelObj, 'BelongsToMany')) %}

        {%- for assoc in associations %}
            {%- set otherName = Bake.getAssociatedTableAlias(modelObj, assoc) %}
            {%- set otherPlural = otherName|variable %}
            ${{ otherPlural }} = $this->{{ currentModelName }}->{{ otherName }}->find('list', ['limit' => 200]);
            {{- "\n" }}
            {%- set compact = compact|merge(["'#{otherPlural}'"]) %}
        {% endfor %}
        $this->set(compact({{ compact|join(', ')|raw }}));
    }
