label {
    font-family: Montserrat,sans-serif;
    font-weight: 100;
    vertical-align: top;
    margin: 0 0 10px;
}
.acf-label {
    font-family: Montserrat,sans-serif;
}
.navbar-header {
    background: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ca2222;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2ab934;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.slider:after
{
    content:'NO';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{
    content:'SI';
}

/*--------- END --------*/

.corfe-title, .corfe-title-border{
    text-transform: uppercase;
    font-weight: 500;
    color: #31B572;
    -webkit-transition: all 0.2s; -moz-transition: all 0.2s; -ms-transition: all 0.2s; -o-transition: all 0.2s; transition: all 0.2s;
}

.corfe-title:hover {
    color: #267843;
}

.corfe-title-border {
    border-bottom: 1px solid rgba(49, 181, 114, 0.3) !important;
}

.required label:after {
    color: #d00;
    content: " *"
}

