{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
<?php
/**
 * @var \{{ namespace }}\View\AppView $this
 * @var \{{ entityClass }}[]|\Cake\Collection\CollectionInterface ${{ pluralVar }}
 */
?>
{% set fields = Bake.filterFields(fields, schema, modelObject, indexColumns, ['binary', 'text']) %}
<?= $this->element('index_controller', [
'title' => __('{{ pluralHumanName }}'),
'subtitle' => __('list_of', [__('{{ pluralHumanName }}')]),
'add_button' => true
])?>
<div class="row">
    <div class="col-sm-12 text-center">
        <?= $this->Flash->render('{{ pluralHumanName }}') ?>
    </div>
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title"><?= __('{{ pluralHumanName }}')?></h3>
            <p class="text-muted"><?= __('list_of', [__('{{ pluralHumanName }}')])?></p>
            <div class="table-responsive">
                <table class="table" id="dataTable">
                    <thead>
                    <tr>
                        {% for field in fields %}
                            <th><?= $this->Paginator->sort('{{ field }}') ?></th>
                        {% endfor %}
                        <th class="actions"><?= __('Actions') ?></th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach (${{ pluralVar }} as ${{ singularVar }}): ?>
                    <tr>
                        {% for field in fields %}
                            {% set isKey = false %}
                            {% if associations.BelongsTo %}
                                {% for alias, details in associations.BelongsTo if field == details.foreignKey %}
                                    {% set isKey = true %}
                                    <td><?= ${{ singularVar }}->has('{{ details.property }}') ?
                                        $this->Html->link(
                                        '<span class="label label-info">'
                                                . ${{ singularVar }}->{{ details.property }}->{{ details.displayField }} .
                                        '</span>',
                                        [
                                            'controller' => '{{ details.controller }}',
                                            'action' => 'view', ${{ singularVar }}->{{ details.property }}->{{ details.primaryKey[0] }}
                                        ], ['escape' => false]) : '' ]?>
                                    </td>
                                {% endfor %}
                            {% endif %}
                            {% if isKey is not same as(true) %}
                                {% set columnData = Bake.columnData(field, schema) %}
                                {% if columnData.type not in ['integer', 'float', 'decimal', 'biginteger', 'smallinteger', 'tinyinteger'] %}
                                    <td><?= h(${{ singularVar }}->{{ field }}) ?></td>
                                {% else %}
                                    <td><?= $this->Number->format(${{ singularVar }}->{{ field }}) ?></td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% set pk = '$' ~ singularVar ~ '->' ~ primaryKey[0] %}
                        <td class="actions">
                            <?= $this->Html->link('<i class="fa fa-eye text-inverse m-r-10"></i>',
                            ['action' => 'view', {{ pk|raw }}],
                            ['escape' => false]) ?>
                            <?= $this->Html->link('<i class="fa fa-edit text-inverse m-r-10"></i>',
                            ['action' => 'edit', {{ pk|raw }}],
                            ['escape' => false, 'data-toggle' => 'tooltip', 'data-original-title' => __('edit', [''])]) ?>
                            <?= $this->Form->postLink('<i class="fa fa-trash text-danger"></i>',
                            ['action' => 'delete', {{ pk|raw }}],
                            ['confirm' => __('Are you sure you want to delete # {0}?', {{ pk|raw }}),
                            'escape' => false]) ?>
                        </td>
                    </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
