{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
{% set fields = Bake.filterFields(fields, schema, modelObject) %}
<?=
    $this->element('index_controller', [
    'title' => __('{{ pluralHumanName }}'),
    'subtitle' => __('add_new', [__('{{ singularHumanName }}')]),
    'add_button' => false
])
?>
<div class="row">
    <div class="col-sm-12 text-center">
        <?= $this->Flash->render('{{ singularHumanName }}') ?>
    </div>
</div>
<div class="row">
    <div class="panel panel-info">
        <div class="panel-heading"><?= __('add_new', [__('{{ singularHumanName }}')]) ?></div>
        <div class="collapse in" aria-expanded="true">
            <div class="panel-body">
                <?= $this->Form->create(${{ singularVar }}, ['class' => 'form-material']) ?>
                <div class="form-body">
                    <div class="row">
                        {% for field in fields if field not in primaryKey %}
                            <div class="col-md-6">
                                <div class="form-group">
                                    {%- if keyFields[field] %}
                                        {%- set fieldData = Bake.columnData(field, schema) %}
                                        {%- if fieldData.null %}
                                            <?= $this->Form->control('{{ field }}',
                                            ['options' => ${{ keyFields[field] }}, 'empty' => true,
                                            'class' => 'form-control', 'required']); ?>
                                            {{- "\n" }}
                                        {%- else %}
                                            <?= $this->Form->control('{{ field }}',
                                            ['options' => ${{ keyFields[field] }},
                                            'class' => 'form-control', 'required']); ?>
                                            {{- "\n" }}
                                        {%- endif %}
                                    {%- elseif field not in ['created', 'modified', 'updated'] %}
                                        {%- set fieldData = Bake.columnData(field, schema) %}
                                        {%- if fieldData.type in ['date', 'datetime', 'time'] and fieldData.null %}
                                            <?= $this->Form->control('{{ field }}', ['empty' => true,
                                            'class' => 'form-control', 'required']); ?>
                                            {{- "\n" }}
                                        {%- else %}
                                            <?= $this->Form->control('{{ field }}',
                                            ['class' => 'form-control', 'required']); ?>
                                            {{- "\n" }}
                                        {%- endif %}
                                    {%- endif %}
                                </div>
                            </div>
                        {%- endfor %}
                        {%- if associations.BelongsToMany %}
                            {%- for assocName, assocData in associations.BelongsToMany %}
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <?= $this->Form->control('{{ assocData.property }}._ids',
                                        ['options' => ${{ assocData.variable }},
                                        'class' => 'form-control', 'required']); ?>
                                        {{- "\n" }}
                                    </div>
                                </div>
                            {%- endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-12 text-center center-block">
                            <?= $this->Form->button(__('Submit'),
                            ['class' => 'btn btn-primary']) ?>
                        </div>
                    </div>
                </div>
                <?= $this->Form->end() ?>
            </div>
        </div>
    </div>
</div>
